@use "../../colors.scss" as *;
@use "../../radius.scss" as *;

.postAddAttributes {
  &-content {
    border: 1px solid $light-gray-0;
    border-radius: $radius-md;
    padding: 16px;

    &-category {
      display: flex;
      align-items: center;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }

      &-title {
        min-width: 20%;
      }
    }
    &-fields {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &-field {
        display: flex;
        align-items: center;
      }
    }
  }
}
