@use "../../../colors.scss" as *;

.carouselItem {
  &-container {
    border: 1px solid $light-gray-0;
    border-radius: 4px;
    height: 300px;
  }

  &-image {
    height: 155px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
  }

  &-content {
    padding: 8px;
    h3 {
      margin: 0;
    }
    h5 {
      margin: 4px;
    }
    span {
      margin: 4px;
    }
    &-title {
      margin: 0;
      font-size: 16px;
      height: 50px;
    }
  }
}
