@use "../../colors.scss" as *;
@use "../../radius.scss" as *;

.postAdd {
  &-category-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    &-child {
      min-width: 400px;
      border: 1px solid $light-gray-0;
      padding: 16px;
      border-radius: $radius-sm;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background-color: $light-blue-0;
      }
    }
  }

  &-table {
    &-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      border: 1px solid $light-gray-0;
    }
    &-col {
      width: 33.33%;
      border-right: 1px solid $light-gray-0;

      &-item {
        padding-left: 8px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-gray-0;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &-active {
          background-color: $light-blue-1;
        }
      }
    }
  }
}
