//black
$light-gray: var(--mantine-color-black-1);
$light-gray-0: var(--mantine-color-black-0);
$black-9: var(--mantine-color-black-9);

//light blue
$light-blue: var(--mantine-color-blue-3);
$light-blue-0: var(--mantine-color-blue-0);
$light-blue-1: var(--mantine-color-blue-1);

//yellow
$yellow: var(--mantine-color-yellow-4);
