//black
$light-gray-0: var(--mantine-color-black-0);
$light-gray-1: var(--mantine-color-black-1);
$light-gray-2: var(--mantine-color-black-2);
$light-gray-3: var(--mantine-color-black-3);
$gray: var(--mantine-color-black-4);
$black-5: var(--mantine-color-black-5);
$black-4: var(--mantine-color-black-6);
$black-3: var(--mantine-color-black-7);
$black-2: var(--mantine-color-black-8);
$black: var(--mantine-color-black-9);
//orange
$orange: var(--mantine-color-orange-3);
$orange-1: var(--mantine-color-orange-1);
//red
$red: var(--mantine-color-red-0);
$red-2: var(--mantine-color-red-2);
$red-6: var(--mantine-color-red-6);
$primary-red: var(--mantine-color-red-7);
//white
$white: #ffffff;
//green
$green: var(--mantine-color-green-5);
$green-0: var(--mantine-color-green-0);
//purple
$purple: var(--mantine-color-purple-0);
//background
$background: #eef1f3;
