$fontSize-xs: var(--mantine-font-size-xs);
$fontSize-sm: var(--mantine-font-size-sm);
$fontSize-md: var(--mantine-font-size-md);
$fontSize-lg: var(--mantine-font-size-lg);
$fontSize-f20: var(--mantine-font-size-f20);
$fontSize-xllg: var(--mantine-font-size-xllg);
$fontSize-xl: var(--mantine-font-size-xl);
